* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
.wrapper {
    background-image: url("/pictures/background.jpg");
  background-color: #cccccc;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}


  
nav {
    background-color: rgb(8, 7, 8);
    position: absolute;
    
    
    width: 100%;
    height: 146px;
    z-index: 1;

  }
  a {
      text-decoration: none;
      color: rgb(220, 218, 217);
  }
  a:hover {
      text-decoration: underline;
  }
  ul {
      list-style: none;
  }
  .menu li {
    padding: 15px 5px;
  }
  .menu { 
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      color: rgb(220, 218, 217);
      font-size: 45px;
        font-family: becker-gothics-tuscan, sans-serif;
        font-weight: 400;
    font-style: normal;

  }


 
  
.logo {
    position: relative;
    top : -5px;
    width: 125px;
    height: 109px;
    z-index: 42;
  }

@media all and (min-width: 640px){
    .menu {
        justify-content: center;
    }
}
  



  
  /* MASTERHEAD */
.masterhead {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    
    

}
  .mpicture {
    object-fit: cover;
    left: 0px;
    top: 141px;
    width: 100%;
    height: 840px;
    
  }

  .button {
    border-radius: 10px;
    background-color: rgb(8, 7, 8);
    position: absolute;
    
    width: 381px;
    height: 64px;
    z-index: 1;
  }
  .servicesbutton {
    font-size: 54px;
    font-family: "Copperplate";
    color: rgb(220, 218, 217);
    font-weight: bold;
    line-height: 1.2;
    position: absolute;
    left: 56px;
    top: 0px;
   
  }
  /* ABOUT ME */
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.aboutme {
  border-radius: 10px;
  background-color: rgb(8, 7, 8);
  
  margin-top: 25px;
  width: 65%;
  height: 300px;
  z-index: 29;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.aboutmetitle{
    font-size: 54px;
    font-family: "Hoefler Text";
    color: rgb(220, 218, 217);
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 25px;
}
.aboutmetext{
    font-size: 30px;
    font-family: "Trebuchet MS";
    color: rgb(220, 218, 217);
    line-height: 1.2;
    margin: 0 15px;
}
/* SERVICES */
.services {
display: flex;
justify-content: center;
margin-top: 25px;
position: relative;


}
.drifttaxi {
   display: flex; 
   align-items: flex-end;
   justify-content: center;
   
   
}
 .drifttaxititle{
    background-color: rgb(214, 213, 4);
    position: absolute;
    top: 45px;
    margin-left: -75px;

    width: 320px;
    height: 66px;
   
} 
.teachingtitle{
    background-color: rgb(214, 213, 4);
    position: absolute;
    top: 45px;
    margin-left: 75px;
    
    width: 320px;
    height: 66px;
   
} 
  
.book {
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 40px;
    width: 245px;
    height: 70px;
    
    
  }
  .booking {
    font-size: 54px;
    font-family: "Copperplate";
    color: rgb(220, 218, 217);
    font-weight: bold;
    line-height: 1.2;
    position: absolute;
    left: 46px;
    top: 2px;
  }
.servicetitle {
    font-size: 54px;
    font-family: "Copperplate";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
    position: absolute;
    
    top: 2px;
}
.lefttext {
    margin-left: 15px;
}
  
.teaching {
    display: flex; 
   align-items: flex-end;
   justify-content: center;
}


.contactme {
    height: 200px;
    background: red;
} 

 footer {
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: -1680px;
    width: 100%;
    height: 202px;

  }
  
  
  
  

  
  