* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
.wrapper {
    
    height: 2500px;
}
.background {
    opacity: 0.8;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 2500px;
    
  }
  
nav {
    
    
    background-color: rgb(8, 7, 8);
    position: absolute;
    
    
    width: 100%;
    height: 146px;
    z-index: 1;

  }
  a {
      text-decoration: none;
      color: rgb(220, 218, 217);
  }
  a:hover {
      text-decoration: underline;
  }
  ul {
      list-style: none;
  }
  .menu li {
    padding: 15px 5px;
  }
  .menu { 
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      color: rgb(220, 218, 217);
      font-size: 45px;
        font-family: becker-gothics-tuscan, sans-serif;
        font-weight: 400;
    font-style: normal;

  }


 
  
.logo {
    position: relative;
    top : -5px;
    width: 125px;
    height: 109px;
    z-index: 42;
  }

@media all and (min-width: 640px){
    .menu {
        justify-content: center;
    }
}
  



  
  /* MASTERHEAD */
.masterhead {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    
    

}
  .mpicture {
    object-fit: cover;
    left: 0px;
    top: 141px;
    width: 100%;
    height: 840px;
    
  }

  .button {
    border-radius: 10px;
    background-color: rgb(8, 7, 8);
    position: absolute;
    
    width: 381px;
    height: 64px;
    z-index: 1;
  }
  .services {
    font-size: 54px;
    font-family: "Copperplate";
    color: rgb(220, 218, 217);
    font-weight: bold;
    line-height: 1.2;
    position: absolute;
    left: 56px;
    top: 0px;
   
  }
  
.info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutme {
  border-radius: 10px;
  background-color: rgb(8, 7, 8);
  
  margin-top: 25px;
  width: 65%;
  height: 300px;
  z-index: 29;
}

 footer {
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: -1680px;
    width: 100%;
    height: 202px;

  }
  
  
  
  

  
  